themes/*
!themes/.gitkeep

pipelines/*
!pipelines/.gitkeep

trustedPipelines/*
!trustedPipelines/.gitkeep

extensions/*
!extensions/.gitkeep

.idea
.sgcloud
.cache-loader
node_modules
